# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Data files
data_raw/*
data_processed/*
*.RData
*.rda
*.rds
*.csv
*.xlsx
*.sav
*.dta

# Keep folder README files
!data_raw/README.md
!data_processed/README.md

# Output files
output/*
!output/README.md

# System files
.DS_Store
Thumbs.db
